.nav {
    background-color: #156964;
    height: 100px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    height: 100px;
}

.nav__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    transition: 0.3s;
}

.nav__link:hover {
    color: #57d1a8;
}
