.page {
    width: 1400px;
    margin: 0 auto;
}

.intro__title {
    font-family: 'Chicle', cursive;
}


.header {
    height: 700px;
    background-image: url(../images/header-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 30px;
    padding-top: 10px;
}

.nav__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    transition: 0.3s;
}

.nav__link:hover {
    color: #156964;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__fieldset {
    width: 100%;
}

.form__label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form__input,
.form__select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.button {
    margin-top: 10px;
}

/* Set the table layout */
.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Style the table header */
.table__head {
    background-color: #f2f2f2;
}

/* Style the table cells */
.table__cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style the table rows on hover */
.table__row:hover {
    background-color: #f5f5f5;
}

/* Add some padding to the parent element */
#reports {
    padding: 20px;
}
